<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pfc.game.presentation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainbackground"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pfc.game.presentation.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name="pfc.game.presentation.LoginPage"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="pfc.game.presentation.RegisterPage"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="pfc.game.presentation.GamePage" 
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="pfc.game.presentation.MainMenu"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="pfc.game.presentation.ProfilePage"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="pfc.game.presentation.ArcadeConf"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="pfc.game.presentation.SelectMode"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="pfc.game.presentation.ArcadeMode"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="pfc.game.presentation.ArcResult"
            	  android:screenOrientation="portrait"></activity>
        
    </application>

</manifest>
